In [50]:
import pandas as pd
movies=pd.read_clipboard()
movies

,id name,Name,industry,genre,language,duration,rating
0,1,Baahubali,TollywoodAction,Action,Telgu,170,9.5
1,2,Brahastra,Bollywood,Mysterious,Hindi,180,5.0
2,3,Uri,Bollywood,Action,Hindi,120,10.0
3,4,DDLJ,Bollywood,Romance,Hindi,120,10.0
4,5,Avenger-EndGame,Hollywood,Action,English,180,9.0
5,6,Tenet,Hollywood,SciFi,English,150,8.5
6,7,Major,Bollywood,Action,Hindi,140,8.0
7,8,Intersteller,Hollywood,SciFi,English,190,7.0
8,9,Gravity,Hollywood,SciFi,English,130,6.0
9,10,Titanic,Hollywood,Drama,Engligh,180,9.0
10,11,YEH-JAWANI HAI DEWANI,Bollywood,Romance,Hindi,150,5.0
11,12,Houseful,Bollywood,Romance,Hindi,150,6.0
12,13,The Dicator,Hollywood,Comedy,Engligh,127,7.0
13,14,Hera Pheri,Bollywood,Comedy,Hindi,140,9.0
14,15,sholay,Bollywood,Comedy,Hindi,150,8.5

In [18]:
movies=pd.read_csv(r'Book1.csv')

In [17]:
movies

,id name,Name,industry,genre,language,duration,rating
0,1,Baahubali,TollywoodAction,Action,Telgu,170,9.5
1,2,Brahastra,Bollywood,Mysterious,Hindi,180,5.0
2,3,Uri,Bollywood,Action,Hindi,120,10.0
3,4,DDLJ,Bollywood,Romance,Hindi,120,10.0
4,5,Avenger-EndGame,Hollywood,Action,English,180,9.0
5,6,Tenet,Hollywood,SciFi,English,150,8.5
6,7,Major,Bollywood,Action,Hindi,140,8.0
7,8,Intersteller,Hollywood,SciFi,English,190,7.0
8,9,Gravity,Hollywood,SciFi,English,130,6.0
9,10,Titanic,Hollywood,Drama,Engligh,180,9.0
10,11,YEH-JAWANI HAI DEWANI,Bollywood,Romance,Hindi,150,5.0
11,12,Houseful,Bollywood,Romance,Hindi,150,6.0
12,13,The Dicator,Hollywood,Comedy,Engligh,127,7.0
13,14,Hera Pheri,Bollywood,Comedy,Hindi,140,9.0
14,15,sholay,Bollywood,Comedy,Hindi,150,8.5

In [16]:
movies['duration'].argmax()

7

In [15]:
movies['Name'][movies['duration'].argmax()]

'Intersteller'

# Ques2

In [14]:
sum(movies['rating']==10)

2

#### How many industries are there?

In [13]:
movies['industry'].value_counts()

Bollywood          8
Hollywood          6
TollywoodAction    1
Name: industry, dtype: int64

In [12]:
movies['industry'].value_counts().count()

3

In [11]:
len(movies['industry'].value_counts())

3

In [10]:
movies['industry'].nunique()

3

### Number of movie who got 10 rating?

In [9]:
sum(movies['rating']==10)

2

In [8]:
movies['rating']==10

0     False
1     False
2      True
3      True
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
Name: rating, dtype: bool

### 4 Find least linked comedy movie?

In [7]:
movies['Name'][movies[movies['genre']=='Comedy']['rating'].idxmin()]

'The Dicator'

In [6]:
movies.columns

Index(['id name', 'Name', 'industry', 'genre', 'language ', 'duration',
       'rating'],
      dtype='object')

In [5]:
movies.index

RangeIndex(start=0, stop=15, step=1)

### 5 longect english movie name

In [4]:
movies['Name'][movies[movies['language ']=='English']['duration'].idxmax()]

'Intersteller'

## 6.What is genure of interseller

In [3]:
movies['genre'][movies['Name']=='Intersteller'].values[0]

'SciFi'

In [28]:
names=movies['Name']

In [29]:
names.to_list()

['Baahubali',
 'Brahastra',
 'Uri',
 'DDLJ',
 'Avenger-EndGame',
 'Tenet',
 'Major',
 'Intersteller',
 'Gravity',
 'Titanic',
 'YEH-JAWANI HAI DEWANI',
 'Houseful',
 'The Dicator',
 'Hera Pheri',
 'sholay']

In [30]:
names.values

array(['Baahubali', 'Brahastra', 'Uri', 'DDLJ', 'Avenger-EndGame',
       'Tenet', 'Major', 'Intersteller', 'Gravity', 'Titanic',
       'YEH-JAWANI HAI DEWANI', 'Houseful', 'The Dicator', 'Hera Pheri',
       'sholay'], dtype=object)

In [37]:
names.str.get_dummies()

,Avenger-EndGame,Baahubali,Brahastra,DDLJ,Gravity,Hera Pheri,Houseful,Intersteller,Major,Tenet,The Dicator,Titanic,Uri,YEH-JAWANI HAI DEWANI,sholay
0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
6,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
7,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
8,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
10,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
11,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
13,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [36]:
movies['genre'][movies['Name']=='Intersteller'].values[0]

'SciFi'

In [38]:
movies['genre'].str.get_dummies()

    Action  Comedy  Drama  Mysterious  Romance  SciFi
0        1       0      0           0        0      0
1        0       0      0           1        0      0
2        1       0      0           0        0      0
3        0       0      0           0        1      0
4        1       0      0           0        0      0
5        0       0      0           0        0      1
6        1       0      0           0        0      0
7        0       0      0           0        0      1
8        0       0      0           0        0      1
9        0       0      1           0        0      0
10       0       0      0           0        1      0
11       0       0      0           0        1      0
12       0       1      0           0        0      0
13       0       1      0           0        0      0
14       0       1      0           0        0      0

In [39]:
names.str.strip()

0                 Baahubali
1                 Brahastra
2                       Uri
3                      DDLJ
4           Avenger-EndGame
5                     Tenet
6                     Major
7              Intersteller
8                   Gravity
9                   Titanic
10    YEH-JAWANI HAI DEWANI
11                 Houseful
12              The Dicator
13               Hera Pheri
14                   sholay
Name: Name, dtype: object

## 7.What is avg duration of each genre

In [46]:
movies.groupby('genre')['duration'].mean()

genre
Action        152.500000
Comedy        139.000000
Drama         180.000000
Mysterious    180.000000
Romance       140.000000
SciFi         156.666667
Name: duration, dtype: float64

In [45]:
for genre in movies['genre'].unique():
    print(genre,movies[movies['genre']==genre]['duration'].mean())

Action 152.5
Mysterious 180.0
Romance 140.0
SciFi 156.66666666666666
Drama 180.0
Comedy 139.0

In [47]:
movies.groupby(['industry','genre'])['duration'].mean()

industry         genre
Bollywood        Action        130.000000
                 Comedy        145.000000
                 Mysterious    180.000000
                 Romance       140.000000
Hollywood        Action        180.000000
                 Comedy        127.000000
                 Drama         180.000000
                 SciFi         156.666667
TollywoodAction  Action        170.000000
Name: duration, dtype: float64

In [52]:
movies=pd.read_csv(r'book1.csv',index_col=0)

In [53]:
movies

,Name,industry,genre,language,duration,rating
id name,,,,,,
1,Baahubali,TollywoodAction,Action,Telgu,170,9.5
2,Brahastra,Bollywood,Mysterious,Hindi,180,5.0
3,Uri,Bollywood,Action,Hindi,120,10.0
4,DDLJ,Bollywood,Romance,Hindi,120,10.0
5,Avenger-EndGame,Hollywood,Action,English,180,9.0
6,Tenet,Hollywood,SciFi,English,150,8.5
7,Major,Bollywood,Action,Hindi,140,8.0
8,Intersteller,Hollywood,SciFi,English,190,7.0
9,Gravity,Hollywood,SciFi,English,130,6.0
10,Titanic,Hollywood,Drama,Engligh,180,9.0
11,YEH-JAWANI HAI DEWANI,Bollywood,Romance,Hindi,150,5.0
12,Houseful,Bollywood,Romance,Hindi,150,6.0
13,The Dicator,Hollywood,Comedy,Engligh,127,7.0
14,Hera Pheri,Bollywood,Comedy,Hindi,140,9.0
15,sholay,Bollywood,Comedy,Hindi,150,8.5

## 8.Avg rating each industry

In [54]:
movies.groupby('industry')['rating'].mean()

industry
Bollywood          7.6875
Hollywood          7.7500
TollywoodAction    9.5000
Name: rating, dtype: float64

## 9.Indusrty wise Avg Rating of Romantic Movies

In [55]:
movies[movies['genre'].str.lower()=='romantic'].groupby('industry')['rating'].mean()

Series([], Name: rating, dtype: float64)

In [60]:
movies[movies['language'].str.lower()=='english'][['Name','rating']].sort_values(by='rating',ascending=False)

KeyError: 'language'

In [ ]:
=