In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
a=pd.DataFrame([2,3,4,56,6])

In [5]:
a

    0
0   2
1   3
2   4
3  56
4   6

In [6]:
* Series ---- 1d array
* DataFrame -----------------2d array(Table format,row & col)

SyntaxError: invalid syntax (1792001812.py, line 1)

In [7]:
a=pd.Series([])
b=pd.Series([1,2,33,47,58,100])
c=pd.Series((45,89,20,30,44))
d=pd.Series({'a':10,'b':15,'c':56,'d':99})

C:\Users\Ghanesh Choubey\AppData\Local\Temp\ipykernel_24292\1536678391.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.Series([])

In [8]:
type(a)

pandas.core.series.Series

In [9]:
type(b)

pandas.core.series.Series

In [10]:
type(c)

pandas.core.series.Series

In [11]:
type(d)

pandas.core.series.Series

In [12]:
b

0      1
1      2
2     33
3     47
4     58
5    100
dtype: int64

In [13]:
c

0    45
1    89
2    20
3    30
4    44
dtype: int64

In [14]:
d

a    10
b    15
c    56
d    99
dtype: int64

# 22 wed

In [15]:
n=np.array([1,2,3,4,40])
x=pd.Series(n)

In [ ]:
x

In [ ]:
print(x)

In [ ]:
type(x)

In [ ]:
print(x)

In [ ]:
b=pd.Series([1,2,[11,10],33,[12,23],47,58,100])

In [ ]:
b

In [ ]:
b[0]

In [ ]:
b[3:7]

In [ ]:
d

In [ ]:
b

In [ ]:
u=pd.Series([12,52,42,10,23],index=['q','w','e','r','t'])

In [ ]:
u

In [ ]:
s=pd.Series([12,52,42,10,23],index=list('qwert'))

In [ ]:
s

In [ ]:
s1=pd.Series([12,52,12,52,10,23,42,10,23])

In [ ]:
s1

In [ ]:
s1.value_counts()

In [ ]:
s1.argmax()

In [ ]:
s1.argmin()

In [ ]:
s2=pd.Series([12,52,12,52,10,23,42,10,23])

In [ ]:
s2

In [ ]:
s2.idxmax()

# DataFrame

In [ ]:
a=pd.DataFrame()
b=pd.DataFrame([1,2,55,40,86])

In [ ]:
a

In [ ]:
b

In [ ]:
type(b)

In [ ]:
c=pd.DataFrame([[1,2,3],[10,20,30],[7,8,9]])

In [ ]:
c

In [ ]:
c=pd.DataFrame([[1,2,3,4,5],[10,20,30,40,50],[7,8,9,10,11],["Gaurav","Avi","Ghanesh","Harshit","Mena ji"],[1,2,3,4]])

In [ ]:
c

In [ ]:
c.head(2)

In [ ]:
c.sample(5)

In [24]:
d=pd.DataFrame([[1,2],[2,4],[23,np.nan,2]],columns=['A','B','C'])

In [25]:
d

    A    B    C
0   1  2.0  NaN
1   2  4.0  NaN
2  23  NaN  2.0

In [20]:
d['A']

0     1
1     2
2    23
Name: A, dtype: int64

In [27]:
d[['A','B']]

    A    B
0   1  2.0
1   2  4.0
2  23  NaN

In [28]:
d[['A','B']].head(1)

   A    B
0  1  2.0

In [29]:
d[['A','B']][1:3]

    A    B
1   2  4.0
2  23  NaN

In [32]:
d['A'].max()

23

In [33]:
d["D"]=[0,1,2]

In [34]:
d

    A    B    C  D
0   1  2.0  NaN  0
1   2  4.0  NaN  1
2  23  NaN  2.0  2

In [36]:
f=d["A"]>2

In [37]:
f

0    False
1    False
2     True
Name: A, dtype: bool