In [1]:
import pandas as pd
movies=pd.read_clipboard()
movies

,id name,Name,industry,genre,language,duration,rating
0,1,Baahubali,TollywoodAction,Action,Telgu,170,9.5
1,2,Brahastra,Bollywood,Mysterious,Hindi,180,5.0
2,3,Uri,Bollywood,Action,Hindi,120,10.0
3,4,DDLJ,Bollywood,Romance,Hindi,120,10.0
4,5,Avenger-EndGame,Hollywood,Action,English,180,9.0
5,6,Tenet,Hollywood,SciFi,English,150,8.5
6,7,Major,Bollywood,Action,Hindi,140,8.0
7,8,Intersteller,Hollywood,SciFi,English,190,7.0
8,9,Gravity,Hollywood,SciFi,English,130,6.0
9,10,Titanic,Hollywood,Drama,Engligh,180,9.0
10,11,YEH-JAWANI HAI DEWANI,Bollywood,Romance,Hindi,150,5.0
11,12,Houseful,Bollywood,Romance,Hindi,150,6.0
12,13,The Dicator,Hollywood,Comedy,Engligh,127,7.0
13,14,Hera Pheri,Bollywood,Comedy,Hindi,140,9.0
14,15,sholay,Bollywood,Comedy,Hindi,150,8.5

In [2]:
movies=pd.read_csv(r'Book1.csv')

In [3]:
movies

,id name,Name,industry,genre,language,duration,rating
0,1,Baahubali,TollywoodAction,Action,Telgu,170,9.5
1,2,Brahastra,Bollywood,Mysterious,Hindi,180,5.0
2,3,Uri,Bollywood,Action,Hindi,120,10.0
3,4,DDLJ,Bollywood,Romance,Hindi,120,10.0
4,5,Avenger-EndGame,Hollywood,Action,English,180,9.0
5,6,Tenet,Hollywood,SciFi,English,150,8.5
6,7,Major,Bollywood,Action,Hindi,140,8.0
7,8,Intersteller,Hollywood,SciFi,English,190,7.0
8,9,Gravity,Hollywood,SciFi,English,130,6.0
9,10,Titanic,Hollywood,Drama,Engligh,180,9.0
10,11,YEH-JAWANI HAI DEWANI,Bollywood,Romance,Hindi,150,5.0
11,12,Houseful,Bollywood,Romance,Hindi,150,6.0
12,13,The Dicator,Hollywood,Comedy,Engligh,127,7.0
13,14,Hera Pheri,Bollywood,Comedy,Hindi,140,9.0
14,15,sholay,Bollywood,Comedy,Hindi,150,8.5

In [4]:
movies['duration'].argmax()

7

In [6]:
movies['Name'][movies['duration'].argmax()]

'Intersteller'

# Ques2

In [7]:
sum(movies['rating']==10)

2

#### How many industries are there?

In [9]:
movies['industry'].value_counts()

Bollywood          8
Hollywood          6
TollywoodAction    1
Name: industry, dtype: int64

In [11]:
movies['industry'].value_counts().count()

3

In [12]:
len(movies['industry'].value_counts())

3

In [13]:
movies['industry'].nunique()

3

### Number of movie who got 10 rating?

In [14]:
sum(movies['rating']==10)

2

In [15]:
movies['rating']==10

0     False
1     False
2      True
3      True
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
Name: rating, dtype: bool

### 4 Find least linked comedy movie?

In [18]:
movies['Name'][movies[movies['genre']=='Comedy']['rating'].idxmin()]

'The Dicator'

In [19]:
movies.columns

Index(['id name', 'Name', 'industry', 'genre', 'language ', 'duration',
       'rating'],
      dtype='object')

In [20]:
movies.index

RangeIndex(start=0, stop=15, step=1)

### 5 longect english movie name

In [22]:
movies['Name'][movies[movies['language ']=='English']['duration'].idxmax()]

'Intersteller'